body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: auto;  
}

aside {
    flex: 1;
    background-color:transparent;
    /* background: red; */
}

article {
    flex: 5;
    background-color:transparent;
    color:rgb(173, 136, 72)
    
    /* background: blue; */
}
.title{
    display: flex;
    flex-direction: column;
    position: relative;
    height:1100px
    
}
.title1{
    /* position:absolute; */
    font-size: 14px;
    height:300px;
	width:400px;
    line-height: 20px;
    text-align: center; 
    margin:auto;
    color:rgb(173, 136, 72)
	
}
.title2{
    font-size: 35px;
    height: 100px;
	width:400px;
    line-height: 20px;
    text-align: center; 
    margin:auto;
    color:rgb(173, 136, 72)
	
}
footer{
    color:rgb(173, 136, 72)
}
.yellowline{
    color:rgb(173, 136, 72)
}
